<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Turbokart.dk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Turbokart.dk.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/da2cc9f736.js" crossorigin="anonymous" defer></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Turbokart.dk</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between flex-grow-0">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Booking">Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Priser">Priser</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="min-height:50vh">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top pt-3">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-6 col-lg-5">
                    <h5 class="fw-bold fs-4">Åbningstider</h5>
                    <p class="fw-bold">Fra 01.03.2023 - 30.11.2023</p>
                    <div class="d-flex justify-content-between">
                        <p>Mandag-Lørdag</p>
                        <p>09.00-20.00</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Søndag</p>
                        <p>09.00-18.00</p>
                    </div>
                    <p class="fw-bold">Fra 01.12.2023 - 17.12.2023</p>
                    <div class="d-flex justify-content-between">
                        <p>Mandag-Torsdag</p>
                        <p>Lukket</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Torsdag-Søndag</p>
                        <p>12.00 - 18.00</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <h5 class="fw-bold fs-4">Kontaktoplysninger</h5>
                    <div class="d-flex align-items-center pb-3">
                        <span class="me-2">
                            <i class="fa-solid fa-location-dot"></i>
                        </span>
                        <p class="mb-0">Tårnvej 8, Erhvervspark Vandel, 7184 Vandel</p>
                    </div>
                    <div class="d-flex align-items-center pb-3">
                        <span class="me-2">
                            <i class="fa-solid fa-phone"></i>
                        </span>
                        <p class="mb-0">+45 88 63 88 53</p>
                    </div>
                    <div class="d-flex align-items-center pb-3">
                        <span class="me-2">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                        <p class="mb-0">info@vandelgokart.dk</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>