@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-center">
    <div class="col-12 pb-3 text-center">
        <h1 class="display-4">Turbokart</h1>
    </div>
    <div class="col-10">
        <p>Turbokart er en spændende og actionfyldt gokartbane, der tiltrækker adrenalinentusiaster og racingsentusiaster. Banen er designet til at give førerne en unik oplevelse af fart og udfordrende sving. Med professionelt udformede kurver og lige strækninger giver Turbokart en perfekt balance mellem teknisk dygtighed og høj hastighed.</p>
    </div>
</div>


